.footer{
    &__links{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__column{
        h3{
            opacity: .8;
            margin-bottom: 20px;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                margin: 12px 0;
                font-weight: bold;
                font-size: .9rem;
                opacity: .5;
            }
        }
    }
    hr{
        opacity: .3;
        margin-top: 50px;
    }
    &__trademark{
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        opacity: .5;
        font-size: .8rem;
        font-weight: bold;
    }
}