.avancement{
    &__outer{
        background: rgba(0, 0, 0, .05);
        height: 5px;
        width: 100%;
        border-radius: 15px;
        margin: 10px 0;
    }
    &__inner{
        height: 100%;
        width: 100%;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        transform-origin: left;
    }
    &__sliders__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }
    &__slider{
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: .4s;
        transition-timing-function: ease-in-out;
    }
    &__buttons{
        button{
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
            margin: 5px 15px;
            color: white;
            cursor: pointer;
            &:disabled{
                opacity: .3;
                cursor: default;
            }
        }
    }
}