.navigation--desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    h1{
        color: black;
    }
    &__links{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        &__link{
            font-size: .9rem;
            letter-spacing: 1px;
            padding: 0 0 4px 0;
            position: relative;
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin-right: 30px;
            &:after{
                content: '';
                width: 12px;
                height: 3px;
                background: #f42917;
                position: absolute;
                bottom: 0px;
                transform: translateX(-50px);
                transition-duration: .2s;
                transition-timing-function: ease-out;
            }
            &:hover{
                a{
                    color: #f42917;
                }
                &:after{
                    transform: translateX(0);
                }
            }
                
        }
    }
    &__user-buttons{
        display: flex;
        .user-buttons__icon{
            margin-right: 10px;
        }
        a{
            display: inline-block;
            width: 130px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: .9rem;
            letter-spacing: 1px;
            &:first-child{
                color: black;
                margin-right: 20px;
            }
            &:nth-child(2){
                color: white;
            }
        }
    }
}