.competences{
    &__detail{
        margin: 10px 0;
        font-size: .8rem;
    }
    &__warning-popup{
        border: 2px solid red;
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: .8rem;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 10px 0;
    }
    &__container{
        position: relative;
        height: 200px;
        margin: 10px 0;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, .1);
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    &__input{
        display: flex;
        padding: 5px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, .1);
        input{
            border: none;
            margin-bottom: 0 !important;
        }
        button{
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            color: white;
        }
    }
    &__unit{
        background: white;
        margin: 5px;
        padding: 6px 10px;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);
        cursor: pointer;
        display: flex;
        align-items: center;
        &__close{
            margin-left: 10px;
            font-size: 1.2rem;
        }
    }
}